*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
  font-family:sans-serif;
  padding: 0px 20px;
}

h1{
  position:absolute;
  top:40px;
  color:#333;
  font-size:35px;
  font-weight:bold;
  border-bottom: 5px solid black;
}

.slider{
  position:relative;
  width:800px;
  height:400px;
  overflow:hidden;
  border-radius:20px;
  box-shadow:0 15px 40px rgba(0,0,0,0.2);
}

.slider img{
  width:100%;
  height:100%;
  object-fit:cover;
}

button{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:rgba(255,255,255,0.7);
  border:none;
  padding:10px 15px;
  font-size:22px;
  cursor:pointer;
  border-radius:10px;
  transition:0.3s;
}

button:hover{
  background:#fff;
}

.prev{
  left:15px;
}

.next{
  right:15px;

}
